{% extends "base.html"%}

{%block content%}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul style="list-style-type: none;">
            {% for message in messages %}
                <li>
                    <div class="alert alert-{{message[0]}} alert-dismissible fade show" role="alert" style="width: 600px;">
                        {{message[1]}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </li>
            {%endfor%}
        </ul>
    {%endif%}
    {%endwith%}
    <h1 style="text-align:center;">Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        <div class="form-group row d-flex justify-content-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
            <label class="col-sm-2 col-form-label" for="email">
                <strong>Email<i class="fa-solid fa-envelope"></i></strong>
            </label>
            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required> 
            </div>
        </div>
        <div class="form-group row d-flex justify-content-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
            <label class="col-sm-2 col-form-label" for="email">
                <strong>Password<i class="fa-solid fa-key"></i></strong>
            </label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="email" placeholder="Enter Password" required> 
            </div>
        </div>
        <div  class="d-flex justify-content-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
            <button type="submit" class="btn btn-primary col-sm-10" style="width: 200px;">Login <i class="fa-solid fa-right-to-bracket"></i></button>
        </div>
        <div  class="d-flex justify-content-center" style="display: block;margin-left: auto;margin-right: auto;width: 50%; padding:10px;">
            <a href="{{url_for('signup')}}">Don't Have Account.</a>
        </div>
    </form>
    
            
{%endblock%}