{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="list-style-type: none;">
                {% for message in messages %}
                    <li>
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="width: 600px;">
                            {{message}}
                            <a href="{{ url_for('static', filename= filename)}}" class="alert-link" download>Click to Download.</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </li>
                {%endfor%}
            </ul>
        {%endif%}
    {%endwith%}
    
    <h1 style="text-align: center;">Pivot Table Creation</h1>
    <div class="container-md d-flex justify-content-center" style="padding-top: 100px;">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row g-4 align-items-center">
                <div class="col-auto">
                    <label for="exampleInputEmail1" class="form-label">Upload Your file  <i class="fa-solid fa-paperclip"></i></label>
                </div>
                <div class="col-auto">
                    <input type="file" name = 'file' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Max Size 1MB.
                  </span>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Create <i class="fa-solid fa-table-cells"></i></button>
                </div>
            </div>       
        </form>
    </div>


{% endblock %}